/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*

/.dist/**/*
/dist
install-and-generate.sh
/.junie/
/coverage/**/*
/docs/.vitepress/cache/*
/docs/.vitepress/dist/*
tiposaurus.config.json
*.tgz

/.idea/