src/
node_modules/
.git/
.github/
tests/
.idea/
.vscode/
.DS_Store
*.log
npm-debug.log
package-lock.json
coverage/
tsconfig.json
tsconfig.*.json
.eslintrc*
.prettierrc*
.env
jest.config.*
.templates
src/queries/
src/generated/
tiposaurus.config.json
esbuild.config.js
templates/
install-and-generate.sh
